<div class="list-group">
  <div id="accordion">
    {{#if model}}
      {{#each model as |busRouteDetail index|}}
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapse{{index}}">
              {{busRouteDetail.origin}} => {{busRouteDetail.destination}}
            </a>
          </div>
          <div id="collapse{{index}}" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                {{#each busRouteDetail.stop as |stop|}}
                  {{#link-to "bus-real-time" (query-params route=route stopId=stop.stopid) class="list-group-item list-group-item-action"}}{{stop.stopid}}: {{stop.fullname}}{{/link-to}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
    {{/each}}
    {{else}}
      Route does not exist, please try again.
    {{/if}}
  </div>
</div>